<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
    
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
        
        body {
    font-family: 'Oswald', sans-serif;
    margin:0;
    background-color: #2C2F33;
    color: rgb(255, 255, 255);
    font-size: 200%;
}
.btn {
    background-color: #99AAB5;
    border: none;
    color: rgb(255, 255, 255);
    padding: 12.7px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 11px;
    transition: 0.4s;
    text-decoration: none;
}

.btn:hover {
    background-color: #acacac;
    padding: 13.7px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
}
.center-div {
   text-align: center;
}


        .password-field {
            padding: 10px 18px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .btn {
            background-color: #99AAB5;
            border: none;
            color: rgb(255, 255, 255);
            padding: 12.7px;
            padding-right: 25px;
            padding-left: 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 8px;
            cursor: pointer;
            border-radius: 11px;
            transition: 0.4s;
            text-decoration: none;
        }
        
        .btn:hover {
            background-color: #acacac;
            padding: 13.7px;
            padding-right: 30px;
            padding-left: 30px;
            font-size: 16px;
        }
        .center-div {
           text-align: center;
        }
        .upload {
            background-color: #7289DA;
            border: none;
            color: rgb(255, 255, 255);
            padding: 12.7px;
            padding-right: 25px;
            padding-left: 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 8px;
            cursor: pointer;
            border-radius: 11px;
            transition: 0.4s;
            text-decoration: none;
        }
        #upload-img {
            text-align: center;
            font-size: 80%;
        }
        </style>        

</head>
<body>

    <div class="center-div">
        <h2>upload a image</h2>
    <form action="/upload?pw=<%= passsword %>" method="post" enctype="multipart/form-data">
        <input class="upload" type="file" name="img"><br>
        <input class="btn" type="submit">
        </form>

            <p><a class="btn" href="/upload-list?pw=<%= passsword %>">upload-list</a></p>
        </div>
        <div id="upload-img">
            <h3><%= status %></h3>
            <p><a class="image-link" href="<%= domain %><%= imgName %>"><%= domain %><%= imgName %></a> <%= imgSize %></p>
            <p>preview:</p>
            <img src="<%= domain %><%= imgName %>" width="100" height="100" />
        </div>
</body>
</html>